wsdlTest/updatedTestaug20/RefundPaymentResponseTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://example.com/schema/refundpayment/response"
           xmlns="http://example.com/schema/refundpayment/response"
           xmlns:common="http://example.com/schema/common"
           elementFormDefault="qualified">

  <xs:element name="RefundPaymentResponse" type="RefundPaymentResponse"/>

  <xs:complexType name="RefundPaymentResponse">
    <xs:sequence>
      <xs:element name="result" type="xs:string"/>
      <xs:element name="status" type="common:ResponseStatus"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
