wsdlTest/testAug20/CancelOrderResponseTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://example.com/schema/cancelorder/response"
           xmlns="http://example.com/schema/cancelorder/response"
           xmlns:common="http://example.com/schema/common"
           elementFormDefault="qualified">
  <xs:complexType name="CancelOrderResponse">
    <xs:sequence>
      <xs:element name="Result" type="xs:string"/>
      <xs:element name="Status" type="common:ResponseStatus"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
