wsdlTest/testAug20/PaymentTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://example.com/schema/payment"
           xmlns="http://example.com/schema/payment"
           elementFormDefault="qualified">
  <xs:complexType name="Payment">
    <xs:sequence>
      <xs:element name="PaymentId" type="xs:int"/>
      <xs:element name="Amount" type="xs:decimal"/>
      <xs:element name="Method" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
