wsdlTest/testAug20/ProductTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://example.com/schema/product"
           xmlns="http://example.com/schema/product"
           elementFormDefault="qualified">
  <xs:complexType name="Product">
    <xs:sequence>
      <xs:element name="ProductId" type="xs:int"/>
      <xs:element name="ProductName" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ProductList">
    <xs:sequence>
      <xs:element name="Product" type="Product" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
