wsdlTest/testAug20/Service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:xs="http://www.w3.org/2001/XMLSchema"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:tns="http://example.com/wsdl/TestService"
             targetNamespace="http://example.com/wsdl/TestService">

  <types>
    <xs:import namespace="http://example.com/schema/common" schemaLocation="CommonTypes.xsd"/>
    <xs:import namespace="http://example.com/schema/product" schemaLocation="ProductTypes.xsd"/>
    <xs:import namespace="http://example.com/schema/payment" schemaLocation="PaymentTypes.xsd"/>
    <xs:import namespace="http://example.com/schema/shipment" schemaLocation="ShipmentTypes.xsd"/>
    <xs:import namespace="http://example.com/schema/getcustomer/request" schemaLocation="GetCustomerRequestTypes.xsd"/>
    <xs:import namespace="http://example.com/schema/getcustomer/response" schemaLocation="GetCustomerResponseTypes.xsd"/>
    <xs:import namespace="http://example.com/schema/createcustomer/request" schemaLocation="CreateCustomerRequestTypes.xsd"/>
    <xs:import namespace="http://example.com/schema/createcustomer/response" schemaLocation="CreateCustomerResponseTypes.xsd"/>
    <xs:import namespace="http://example.com/schema/updatecustomer/request" schemaLocation="UpdateCustomerRequestTypes.xsd"/>
    <xs:import namespace="http://example.com/schema/updatecustomer/response" schemaLocation="UpdateCustomerResponseTypes.xsd"/>
    <xs:import namespace="http://example.com/schema/deletecustomer/request" schemaLocation="DeleteCustomerRequestTypes.xsd"/>
    <xs:import namespace="http://example.com/schema/deletecustomer/response" schemaLocation="DeleteCustomerResponseTypes.xsd"/>
    <xs:import namespace="http://example.com/schema/searchcustomers/request" schemaLocation="SearchCustomersRequestTypes.xsd"/>
    <xs:import namespace="http://example.com/schema/searchcustomers/response" schemaLocation="SearchCustomersResponseTypes.xsd"/>
    <xs:import namespace="http://example.com/schema/getorder/request" schemaLocation="GetOrderRequestTypes.xsd"/>
    <xs:import namespace="http://example.com/schema/getorder/response" schemaLocation="GetOrderResponseTypes.xsd"/>
    <xs:import namespace="http://example.com/schema/createorder/request" schemaLocation="CreateOrderRequestTypes.xsd"/>
    <xs:import namespace="http://example.com/schema/createorder/response" schemaLocation="CreateOrderResponseTypes.xsd"/>
    <xs:import namespace="http://example.com/schema/updateorder/request" schemaLocation="UpdateOrderRequestTypes.xsd"/>
    <xs:import namespace="http://example.com/schema/updateorder/response" schemaLocation="UpdateOrderResponseTypes.xsd"/>
    <xs:import namespace="http://example.com/schema/cancelorder/request" schemaLocation="CancelOrderRequestTypes.xsd"/>
    <xs:import namespace="http://example.com/schema/cancelorder/response" schemaLocation="CancelOrderResponseTypes.xsd"/>
    <xs:import namespace="http://example.com/schema/listorders/request" schemaLocation="ListOrdersRequestTypes.xsd"/>
    <xs:import namespace="http://example.com/schema/listorders/response" schemaLocation="ListOrdersResponseTypes.xsd"/>
    <xs:import namespace="http://example.com/schema/processpayment/request" schemaLocation="ProcessPaymentRequestTypes.xsd"/>
    <xs:import namespace="http://example.com/schema/processpayment/response" schemaLocation="ProcessPaymentResponseTypes.xsd"/>
    <xs:import namespace="http://example.com/schema/refundpayment/request" schemaLocation="RefundPaymentRequestTypes.xsd"/>
    <xs:import namespace="http://example.com/schema/refundpayment/response" schemaLocation="RefundPaymentResponseTypes.xsd"/>
    <xs:import namespace="http://example.com/schema/getinvoice/request" schemaLocation="GetInvoiceRequestTypes.xsd"/>
    <xs:import namespace="http://example.com/schema/getinvoice/response" schemaLocation="GetInvoiceResponseTypes.xsd"/>
    <xs:import namespace="http://example.com/schema/generateinvoice/request" schemaLocation="GenerateInvoiceRequestTypes.xsd"/>
    <xs:import namespace="http://example.com/schema/generateinvoice/response" schemaLocation="GenerateInvoiceResponseTypes.xsd"/>
    <xs:import namespace="http://example.com/schema/trackshipment/request" schemaLocation="TrackShipmentRequestTypes.xsd"/>
    <xs:import namespace="http://example.com/schema/trackshipment/response" schemaLocation="TrackShipmentResponseTypes.xsd"/>
    <xs:import namespace="http://example.com/schema/scheduleshipment/request" schemaLocation="ScheduleShipmentRequestTypes.xsd"/>
    <xs:import namespace="http://example.com/schema/scheduleshipment/response" schemaLocation="ScheduleShipmentResponseTypes.xsd"/>
    <xs:import namespace="http://example.com/schema/updateshipment/request" schemaLocation="UpdateShipmentRequestTypes.xsd"/>
    <xs:import namespace="http://example.com/schema/updateshipment/response" schemaLocation="UpdateShipmentResponseTypes.xsd"/>
    <xs:import namespace="http://example.com/schema/cancelshipment/request" schemaLocation="CancelShipmentRequestTypes.xsd"/>
    <xs:import namespace="http://example.com/schema/cancelshipment/response" schemaLocation="CancelShipmentResponseTypes.xsd"/>
  </types>

  <message name="GetCustomerRequest">
    <part name="parameters" element="tns:GetCustomerRequest"/>
  </message>
  <message name="GetCustomerResponse">
    <part name="parameters" element="tns:GetCustomerResponse"/>
  </message>
  <message name="CreateCustomerRequest">
    <part name="parameters" element="tns:CreateCustomerRequest"/>
  </message>
  <message name="CreateCustomerResponse">
    <part name="parameters" element="tns:CreateCustomerResponse"/>
  </message>
  <message name="UpdateCustomerRequest">
    <part name="parameters" element="tns:UpdateCustomerRequest"/>
  </message>
  <message name="UpdateCustomerResponse">
    <part name="parameters" element="tns:UpdateCustomerResponse"/>
  </message>
  <message name="DeleteCustomerRequest">
    <part name="parameters" element="tns:DeleteCustomerRequest"/>
  </message>
  <message name="DeleteCustomerResponse">
    <part name="parameters" element="tns:DeleteCustomerResponse"/>
  </message>
  <message name="SearchCustomersRequest">
    <part name="parameters" element="tns:SearchCustomersRequest"/>
  </message>
  <message name="SearchCustomersResponse">
    <part name="parameters" element="tns:SearchCustomersResponse"/>
  </message>
  <message name="GetOrderRequest">
    <part name="parameters" element="tns:GetOrderRequest"/>
  </message>
  <message name="GetOrderResponse">
    <part name="parameters" element="tns:GetOrderResponse"/>
  </message>
  <message name="CreateOrderRequest">
    <part name="parameters" element="tns:CreateOrderRequest"/>
  </message>
  <message name="CreateOrderResponse">
    <part name="parameters" element="tns:CreateOrderResponse"/>
  </message>
  <message name="UpdateOrderRequest">
    <part name="parameters" element="tns:UpdateOrderRequest"/>
  </message>
  <message name="UpdateOrderResponse">
    <part name="parameters" element="tns:UpdateOrderResponse"/>
  </message>
  <message name="CancelOrderRequest">
    <part name="parameters" element="tns:CancelOrderRequest"/>
  </message>
  <message name="CancelOrderResponse">
    <part name="parameters" element="tns:CancelOrderResponse"/>
  </message>
  <message name="ListOrdersRequest">
    <part name="parameters" element="tns:ListOrdersRequest"/>
  </message>
  <message name="ListOrdersResponse">
    <part name="parameters" element="tns:ListOrdersResponse"/>
  </message>
  <message name="ProcessPaymentRequest">
    <part name="parameters" element="tns:ProcessPaymentRequest"/>
  </message>
  <message name="ProcessPaymentResponse">
    <part name="parameters" element="tns:ProcessPaymentResponse"/>
  </message>
  <message name="RefundPaymentRequest">
    <part name="parameters" element="tns:RefundPaymentRequest"/>
  </message>
  <message name="RefundPaymentResponse">
    <part name="parameters" element="tns:RefundPaymentResponse"/>
  </message>
  <message name="GetInvoiceRequest">
    <part name="parameters" element="tns:GetInvoiceRequest"/>
  </message>
  <message name="GetInvoiceResponse">
    <part name="parameters" element="tns:GetInvoiceResponse"/>
  </message>
  <message name="GenerateInvoiceRequest">
    <part name="parameters" element="tns:GenerateInvoiceRequest"/>
  </message>
  <message name="GenerateInvoiceResponse">
    <part name="parameters" element="tns:GenerateInvoiceResponse"/>
  </message>
  <message name="TrackShipmentRequest">
    <part name="parameters" element="tns:TrackShipmentRequest"/>
  </message>
  <message name="TrackShipmentResponse">
    <part name="parameters" element="tns:TrackShipmentResponse"/>
  </message>
  <message name="ScheduleShipmentRequest">
    <part name="parameters" element="tns:ScheduleShipmentRequest"/>
  </message>
  <message name="ScheduleShipmentResponse">
    <part name="parameters" element="tns:ScheduleShipmentResponse"/>
  </message>
  <message name="UpdateShipmentRequest">
    <part name="parameters" element="tns:UpdateShipmentRequest"/>
  </message>
  <message name="UpdateShipmentResponse">
    <part name="parameters" element="tns:UpdateShipmentResponse"/>
  </message>
  <message name="CancelShipmentRequest">
    <part name="parameters" element="tns:CancelShipmentRequest"/>
  </message>
  <message name="CancelShipmentResponse">
    <part name="parameters" element="tns:CancelShipmentResponse"/>
  </message>
  <portType name="TestServicePortType">
    <operation name="GetCustomer">
      <input message="tns:GetCustomerRequest"/>
      <output message="tns:GetCustomerResponse"/>
    </operation>
    <operation name="CreateCustomer">
      <input message="tns:CreateCustomerRequest"/>
      <output message="tns:CreateCustomerResponse"/>
    </operation>
    <operation name="UpdateCustomer">
      <input message="tns:UpdateCustomerRequest"/>
      <output message="tns:UpdateCustomerResponse"/>
    </operation>
    <operation name="DeleteCustomer">
      <input message="tns:DeleteCustomerRequest"/>
      <output message="tns:DeleteCustomerResponse"/>
    </operation>
    <operation name="SearchCustomers">
      <input message="tns:SearchCustomersRequest"/>
      <output message="tns:SearchCustomersResponse"/>
    </operation>
    <operation name="GetOrder">
      <input message="tns:GetOrderRequest"/>
      <output message="tns:GetOrderResponse"/>
    </operation>
    <operation name="CreateOrder">
      <input message="tns:CreateOrderRequest"/>
      <output message="tns:CreateOrderResponse"/>
    </operation>
    <operation name="UpdateOrder">
      <input message="tns:UpdateOrderRequest"/>
      <output message="tns:UpdateOrderResponse"/>
    </operation>
    <operation name="CancelOrder">
      <input message="tns:CancelOrderRequest"/>
      <output message="tns:CancelOrderResponse"/>
    </operation>
    <operation name="ListOrders">
      <input message="tns:ListOrdersRequest"/>
      <output message="tns:ListOrdersResponse"/>
    </operation>
    <operation name="ProcessPayment">
      <input message="tns:ProcessPaymentRequest"/>
      <output message="tns:ProcessPaymentResponse"/>
    </operation>
    <operation name="RefundPayment">
      <input message="tns:RefundPaymentRequest"/>
      <output message="tns:RefundPaymentResponse"/>
    </operation>
    <operation name="GetInvoice">
      <input message="tns:GetInvoiceRequest"/>
      <output message="tns:GetInvoiceResponse"/>
    </operation>
    <operation name="GenerateInvoice">
      <input message="tns:GenerateInvoiceRequest"/>
      <output message="tns:GenerateInvoiceResponse"/>
    </operation>
    <operation name="TrackShipment">
      <input message="tns:TrackShipmentRequest"/>
      <output message="tns:TrackShipmentResponse"/>
    </operation>
    <operation name="ScheduleShipment">
      <input message="tns:ScheduleShipmentRequest"/>
      <output message="tns:ScheduleShipmentResponse"/>
    </operation>
    <operation name="UpdateShipment">
      <input message="tns:UpdateShipmentRequest"/>
      <output message="tns:UpdateShipmentResponse"/>
    </operation>
    <operation name="CancelShipment">
      <input message="tns:CancelShipmentRequest"/>
      <output message="tns:CancelShipmentResponse"/>
    </operation>
  </portType>
  <binding name="TestServiceBinding" type="tns:TestServicePortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="GetCustomer">
      <soap:operation soapAction="http://example.com/wsdl/TestService/GetCustomer"/>
      <input><soap:body use="literal"/></input>
      <output><soap:body use="literal"/></output>
    </operation>
    <operation name="CreateCustomer">
      <soap:operation soapAction="http://example.com/wsdl/TestService/CreateCustomer"/>
      <input><soap:body use="literal"/></input>
      <output><soap:body use="literal"/></output>
    </operation>
    <operation name="UpdateCustomer">
      <soap:operation soapAction="http://example.com/wsdl/TestService/UpdateCustomer"/>
      <input><soap:body use="literal"/></input>
      <output><soap:body use="literal"/></output>
    </operation>
    <operation name="DeleteCustomer">
      <soap:operation soapAction="http://example.com/wsdl/TestService/DeleteCustomer"/>
      <input><soap:body use="literal"/></input>
      <output><soap:body use="literal"/></output>
    </operation>
    <operation name="SearchCustomers">
      <soap:operation soapAction="http://example.com/wsdl/TestService/SearchCustomers"/>
      <input><soap:body use="literal"/></input>
      <output><soap:body use="literal"/></output>
    </operation>
    <operation name="GetOrder">
      <soap:operation soapAction="http://example.com/wsdl/TestService/GetOrder"/>
      <input><soap:body use="literal"/></input>
      <output><soap:body use="literal"/></output>
    </operation>
    <operation name="CreateOrder">
      <soap:operation soapAction="http://example.com/wsdl/TestService/CreateOrder"/>
      <input><soap:body use="literal"/></input>
      <output><soap:body use="literal"/></output>
    </operation>
    <operation name="UpdateOrder">
      <soap:operation soapAction="http://example.com/wsdl/TestService/UpdateOrder"/>
      <input><soap:body use="literal"/></input>
      <output><soap:body use="literal"/></output>
    </operation>
    <operation name="CancelOrder">
      <soap:operation soapAction="http://example.com/wsdl/TestService/CancelOrder"/>
      <input><soap:body use="literal"/></input>
      <output><soap:body use="literal"/></output>
    </operation>
    <operation name="ListOrders">
      <soap:operation soapAction="http://example.com/wsdl/TestService/ListOrders"/>
      <input><soap:body use="literal"/></input>
      <output><soap:body use="literal"/></output>
    </operation>
    <operation name="ProcessPayment">
      <soap:operation soapAction="http://example.com/wsdl/TestService/ProcessPayment"/>
      <input><soap:body use="literal"/></input>
      <output><soap:body use="literal"/></output>
    </operation>
    <operation name="RefundPayment">
      <soap:operation soapAction="http://example.com/wsdl/TestService/RefundPayment"/>
      <input><soap:body use="literal"/></input>
      <output><soap:body use="literal"/></output>
    </operation>
    <operation name="GetInvoice">
      <soap:operation soapAction="http://example.com/wsdl/TestService/GetInvoice"/>
      <input><soap:body use="literal"/></input>
      <output><soap:body use="literal"/></output>
    </operation>
    <operation name="GenerateInvoice">
      <soap:operation soapAction="http://example.com/wsdl/TestService/GenerateInvoice"/>
      <input><soap:body use="literal"/></input>
      <output><soap:body use="literal"/></output>
    </operation>
    <operation name="TrackShipment">
      <soap:operation soapAction="http://example.com/wsdl/TestService/TrackShipment"/>
      <input><soap:body use="literal"/></input>
      <output><soap:body use="literal"/></output>
    </operation>
    <operation name="ScheduleShipment">
      <soap:operation soapAction="http://example.com/wsdl/TestService/ScheduleShipment"/>
      <input><soap:body use="literal"/></input>
      <output><soap:body use="literal"/></output>
    </operation>
    <operation name="UpdateShipment">
      <soap:operation soapAction="http://example.com/wsdl/TestService/UpdateShipment"/>
      <input><soap:body use="literal"/></input>
      <output><soap:body use="literal"/></output>
    </operation>
    <operation name="CancelShipment">
      <soap:operation soapAction="http://example.com/wsdl/TestService/CancelShipment"/>
      <input><soap:body use="literal"/></input>
      <output><soap:body use="literal"/></output>
    </operation>
  </binding>
  <service name="TestService">
    <port name="TestServicePort" binding="tns:TestServiceBinding">
      <soap:address location="http://localhost:8080/TestService"/>
    </port>
  </service>
</definitions>
