wsdlTest/testAug20/ShipmentTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://example.com/schema/shipment"
           xmlns="http://example.com/schema/shipment"
           elementFormDefault="qualified">
  <xs:complexType name="Shipment">
    <xs:sequence>
      <xs:element name="ShipmentId" type="xs:int"/>
      <xs:element name="Carrier" type="xs:string"/>
      <xs:element name="Status" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
